<div class="ui card">
  <div class="content">
    <a class="header" [routerLink]="['/recipe/', recipe.id]">{{ recipe.name }}</a>
    <div class="meta">
      <span class="date">added on {{ recipe.dateAdded | date }}</span>
    </div>
    <ul class="ui list">
      <li *ngFor="let ingredient of recipe.ingredients">
        <app-ingredient [ingredient]="ingredient"></app-ingredient>
      </li>
    </ul>
    <button class="ui icon button" (click)="removeRecipe()">
        <i class="trash outline icon"></i>
    </button>
  </div>
</div>

