<form class="ui form" [formGroup]='recipe' (ngSubmit)='onSubmit()'>
        <h3 class="ui dividing header">Add recipe</h3>
        <div class="field">
          <label for="name_id">name</label>
          <input id="name" name="name_id" formControlName='name'>
        </div>

        <div class="field">
          <label for="ingredient_name">ingredients</label>
          <div formArrayName='ingredients' *ngFor='let item of ingredients.controls;
              let i = index'>
            <div [formGroupName]='i'>
              <div class='three fields'>
                <div class="field">
                  <input type="text" id="ingredient_amount" formControlName='amount' placeholder="amount">
                </div>
                <div class="field">
                  <select class='ui fluid dropdown' id="ingredient_unittype" formControlName='unit'>
                    <option *ngFor='let type of unitTypes' [value]='type'>
                      {{type}}
                    </option>
                  </select>
                </div>
                <div class="field">
                  <input type="text" id="ingredient_name" formControlName='ingredientname' placeholder="name of ingredient">
                </div>
              </div>
            </div>
          </div>
        </div>
        <button type='submit' class="ui positive right button">
          add recipe
        </button>
      </form>
